.App {
  text-align: center;
  background-color: whitesmoke;
  height: 5000px
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 25px;
  background-color: white;
  width: 500px;
  height: 600px;
}
